* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  /* justify-content: center; */
  flex-wrap: wrap;
  height: 95%;
  width: 100%;
}
.changeGridBtn {
  font-size: 1.6rem;
  height: 5%;
  width: 100%;
  border: none;
  padding: 1rem 1.5rem;
  background-color: hsl(120, 100%, 25%);
  color: hsl(0, 0%, 100%);
}
.changeGridBtn:hover {
  background-color: hsl(120, 100%, 35%);
}
.changeGridBtn:active {
  background-color: hsl(120, 100%, 25%);
}
.child {
  height: 6.25%;
  width: 6.25%;
  border: 0.5px solid black; 
  background-color: white;
}
.child:hover {
  background-color: hsl(0, 0%, 50%);
}